/* Kaikille yhteiset määrittelyt. */

*{
    font-family: verdana;
    margin: 0px
}

body {    
    margin: 0px;
    display:block;
    background-color: black;
    font-family: sans-serif;
}

header {
    font-size:12px;
    background-color: grey;
    padding: 5px;
}

footer {
    width: 100%;
    background: teal;
    position: fixed;
    bottom:0px;
    left:0px;
    padding: 1px;
    font-size:8px;
}

main {
    margin: auto;
    width:80%;
    padding: 10px;
    min-height: 90vh;
    
}

/* Call for action */

/* Nappi ylhäällä */
#CFA1 {

    font-size:30px;
    font-family:fantasy;
}
#CFA1:hover {
    background-color:lightcyan;
}

/* Nappi sisällössä */
#CFA2 {
    font-size:30px;
    font-family:fantasy;
}

#CFA2:hover {
    border:1px black;
}

/* Tassa on kaikki navigaatiopalkkia koskeva maarittely */

nav {
    text-align:center;
}

nav ul{                                 
        list-style-type: none;
}

nav li{
        opacity:70%;
        font-size:2vw;
        margin: 10px;
        border-radius: 5px;
}

nav a{                                  /* Nav-elementin sisalla olevien linkkien maarittely*/            
        color: white; 
        text-decoration: none;
        display: block;
        padding: 5px; 

}

nav a:hover {   /* Nav-elementin sisalla olevien linkkien ominaisuudet silloin kun niihin osoitetaan. */
        background-color:black;
        color:white;
        opacity:30%;
}

#navitable {
        width:100%;
        Padding:10px;

}
#navitable td {
        text-align:right;
}

#navijonas {
    width:auto;
    height: 300px;
    align: right;
}
/* Sitten responsiivisuutta */
/* Jos nayttoruutu on yli X pikselia (px), nayta navi-elementit vierekkain */
/* Jos nayttoruutu on ali X pikselia, nayta navi paallekkain. */


/* Wrapperit ja containerit */

#wrapper-background-gradient {   
    width: 100vw;
    height: 100vh;
    position: relative;
    top:0px;
    
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(1,112,152,1) 79%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: auto;
}

.wrapper_content {
    width: auto;
 
}
.wrapper_float {
    justify-content:center;
    overflow:hidden;
    width:auto;   
}

/* Isoimmat sisältöelementit */

.float_child {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}   


#shuttle {
    width: 140px;
    padding:5px;
}

#navijonas {
    width:auto;
    float:right
}



/* Yleiset ominaisuudet */

.round_corners {
        border-radius:25px;
}

.realcenter { 
   position: relative;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}


.white_note {
    justify-content: center;
    background: white;
    
    width: 50px;
    height: 50px; 
    
    margin: 10px;
    font-family: "Courier New", Courier, monospace;
    float:left;
}

/* Tekstin ominaisuudet */
/* Tassa on kaikki tekstiä koskeva maarittely */


h1 {
    font-size:10vw;
    color: #f0f3bd;    
}

h2 {
    font-size:8vw;
    color: #f0f3bd;    
}

h4 {
    font-size:1.5vw;
    color: lightblue;    
}

h5 {
    font-size:2vw;
    color: white;    
}
p {
    font-size:1vw;
    color: #000;
}

a {
    color: #f0f3bd;
}

a:hover {
    color: white;
    text-decoration: none;
}

.formtext {
    color:white;
}



/* RESPONSIIVISUUTTA TOTEUTTAVAT  */



.flex {
    display: flex;
}
.res-text {   
    font:8vw;
}
.res-img{
    width: 30%;
    max-height: 30%;
    float: right;  
}

@media screen and (min-width:900px){
    #CFA1       {display:none;} 
    #CFA2       {display:block;margin:auto;}
    #shuttle    {display:block;}
    #p   {font-size: x-large;}
    #nav.li     {margin:10px;}
    #highlight  {display:block;}
    .wrapper_float {text-align:left;}
}   

@media screen and (max-width:900px){  
    #highlight  {width:100%;}
    #CFA1       {display:block;margin:auto;} 
    #CFA2       {display:none;}
    #shuttle    {display:none;}
    #greeting   {width:80%;}
    #nav.li     {margin:1px;}
    #highlight  {display:inline-block;}
    .wrapper_float {text-align:center;}
}



