body {
    font-family: 'Consolas', sans-serif;
    margin: 0;
    padding: 0;
    background: #0188c7;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__editor {
    background: #000;
    width: 90%;
    height: 90%;
    padding: 25px 25px 100px;
    border-radius: 8px;
    border-top: 20px solid #f3f3f3;
    text-align:left
}

.text__editor .text__body {font-size: 1.5rem; color: #fff;}

.typed-cursor {
              color: #fff;
                }